This notebook is for snapping of substations to lines

In [2]:
import os
import matplotlib.pyplot as plt 
import geopandas as gpd
#import geoplot
import pandas as pd
import numpy as np
from shapely.geometry import LineString
from shapely.geometry import Point

import sys
sys.path.append('../')  # to import helpers
from scripts._helpers import sets_path_to_root
sets_path_to_root("pypsa-africa")

This is the repository path:  /home/max/OneDrive/PHD-Flexibility/07_pypsa-africa/0github/pypsa-africa/pypsa-africa
Had to go 0 folder(s) up.

# Africa shape data

In [3]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
africa = world.query('continent == "Africa"')
nigeriaplot = world.query('name == "Nigeria"')
#world

# Load data

In [4]:
# pathg = os.path.realpath("data")+'/africa_all_generators.geojson' # Generators are not required in base_network
paths = os.path.realpath("data/clean")+'/africa_all_substations.geojson'
pathl = os.path.realpath("data/clean")+'/africa_all_lines.geojson'

# generators = gpd.read_file(pathg).set_crs(epsg=4326, inplace=True)
substations = gpd.read_file(paths).set_crs(epsg=4326, inplace=True)
lines = gpd.read_file(pathl).set_crs(epsg=4326, inplace=True)

In [5]:
lines

,line_id,bus0,bus1,voltage,circuits,length,underground,under_construction,tag_type,tag_frequency,country,geometry
0,381266480-1,None,None,220000,1,46739.565949,False,False,line,50,DZ,"LINESTRING (-0.19030 35.76851, -0.18617 35.767..."
1,381141189-1,None,None,220000,2,3115.449518,False,False,line,50,DZ,"LINESTRING (-0.39501 35.53457, -0.39432 35.533..."
2,382497368-1,None,None,220000,2,3684.465604,False,False,line,50,DZ,"LINESTRING (3.14519 36.59831, 3.14817 36.59987..."
3,382360694-1,None,None,220000,1,10309.740437,False,False,line,50,DZ,"LINESTRING (2.24175 36.25975, 2.24164 36.25903..."
4,173803250-1,None,None,220000,1,129.136319,False,False,line,50,DZ,"LINESTRING (-0.90223 35.08856, -0.90219 35.088..."
...,...,...,...,...,...,...,...,...,...,...,...,...
10318,456151076-1,None,None,132000,1,75.328227,True,False,cable,50,ZA,"LINESTRING (31.01013 -29.81425, 31.01007 -29.8..."
10319,668505779-1,None,None,132000,1,36903.154434,True,False,cable,50,TZ,"LINESTRING (39.19950 -6.63733, 39.19991 -6.637..."
10320,445315079-1,None,None,150000,1,948.419880,True,False,cable,50,TN,"LINESTRING (9.97671 37.21045, 9.96819 37.21059)"
10321,696726295-1,None,None,132000,1,351.939061,True,False,cable,50,UG,"LINESTRING (33.13393 0.50211, 33.13397 0.50206..."
10322,696726292-1,None,None,132000,1,155.359211,True,False,cable,50,UG,"LINESTRING (33.13385 0.50202, 33.13392 0.50195..."

In [ ]:
print(os.path.realpath("data/clean"))

In [6]:
# Filter only Nigeria
lines_ng = lines[lines.loc[:,"country"] == "NG"].copy()
substations_ng = substations[substations.loc[:,"country"] == "NG"].copy()

In [7]:
lines_ng

,line_id,bus0,bus1,voltage,circuits,length,underground,under_construction,tag_type,tag_frequency,country,geometry
4358,746582403-1,None,None,330000,1,93.017158,False,False,line,50,NG,"LINESTRING (7.15735 4.76307, 7.15656 4.76279)"
4359,671376895-1,None,None,330000,1,59.907474,False,False,line,50,NG,"LINESTRING (3.31241 6.88285, 3.31284 6.88252)"
4360,541770058-1,None,None,132000,2,26083.526571,False,False,line,50,NG,"LINESTRING (3.42163 6.46232, 3.42163 6.46278, ..."
4361,671706495-1,None,None,330000,2,260.622267,False,False,line,50,NG,"LINESTRING (6.79839 6.11659, 6.80072 6.11687)"
4362,836122576-1,None,None,330000,1,303.388015,False,False,line,50,NG,"LINESTRING (4.61171 9.86379, 4.61241 9.86120)"
...,...,...,...,...,...,...,...,...,...,...,...,...
4803,564438412-1,None,None,330000,1,88288.643278,False,False,line,50,NG,"LINESTRING (3.34124 7.11719, 3.34474 7.11893, ..."
4804,267281680-1,None,None,330000,2,49589.848100,False,False,line,50,NG,"LINESTRING (6.65351 7.47066, 6.65168 7.47109, ..."
4805,564455679-1,None,None,132000,1,40442.872492,False,False,line,50,NG,"LINESTRING (3.20767 6.80853, 3.20763 6.81172, ..."
4806,746582402-1,None,None,330000,1,70.053994,False,False,line,50,NG,"LINESTRING (7.15735 4.76307, 7.15687 4.76266)"
4807,564446216-1,None,None,330000,1,61218.995298,False,False,line,50,NG,"LINESTRING (3.38479 7.13618, 3.38799 7.13755, ..."

In [8]:
# Assign to every line a start and end point

lines_ng["bounds"] = lines_ng["geometry"].boundary # create start and end point
# splits into coordinates
lines_ng["bus0_lon"] = lines_ng["bounds"].bounds.iloc[:,0]
lines_ng["bus0_lat"] = lines_ng["bounds"].bounds.iloc[:,1]
lines_ng["bus1_lon"] = lines_ng["bounds"].bounds.iloc[:,2]
lines_ng["bus1_lat"] = lines_ng["bounds"].bounds.iloc[:,3]

lines_ng['bus_0_coors']=lines_ng["bounds"].apply(lambda mp: mp[0])
lines_ng['bus_1_coors']=lines_ng["bounds"].apply(lambda mp: mp[1])

In [9]:
lines_ng

,line_id,bus0,bus1,voltage,circuits,length,underground,under_construction,tag_type,tag_frequency,country,geometry,bounds,bus0_lon,bus0_lat,bus1_lon,bus1_lat,bus_0_coors,bus_1_coors
4358,746582403-1,None,None,330000,1,93.017158,False,False,line,50,NG,"LINESTRING (7.15735 4.76307, 7.15656 4.76279)","MULTIPOINT (7.15735 4.76307, 7.15656 4.76279)",7.156560,4.762794,7.157349,4.763070,POINT (7.15735 4.76307),POINT (7.15656 4.76279)
4359,671376895-1,None,None,330000,1,59.907474,False,False,line,50,NG,"LINESTRING (3.31241 6.88285, 3.31284 6.88252)","MULTIPOINT (3.31241 6.88285, 3.31284 6.88252)",3.312414,6.882519,3.312839,6.882847,POINT (3.31241 6.88285),POINT (3.31284 6.88252)
4360,541770058-1,None,None,132000,2,26083.526571,False,False,line,50,NG,"LINESTRING (3.42163 6.46232, 3.42163 6.46278, ...","MULTIPOINT (3.42163 6.46232, 3.57127 6.47001)",3.421633,6.462317,3.571268,6.470011,POINT (3.42163 6.46232),POINT (3.57127 6.47001)
4361,671706495-1,None,None,330000,2,260.622267,False,False,line,50,NG,"LINESTRING (6.79839 6.11659, 6.80072 6.11687)","MULTIPOINT (6.79839 6.11659, 6.80072 6.11687)",6.798394,6.116587,6.800718,6.116868,POINT (6.79839 6.11659),POINT (6.80072 6.11687)
4362,836122576-1,None,None,330000,1,303.388015,False,False,line,50,NG,"LINESTRING (4.61171 9.86379, 4.61241 9.86120)","MULTIPOINT (4.61171 9.86379, 4.61241 9.86120)",4.611707,9.861196,4.612407,9.863791,POINT (4.61171 9.86379),POINT (4.61241 9.86120)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4803,564438412-1,None,None,330000,1,88288.643278,False,False,line,50,NG,"LINESTRING (3.34124 7.11719, 3.34474 7.11893, ...","MULTIPOINT (3.34124 7.11719, 3.96100 7.51594)",3.341241,7.117195,3.960995,7.515944,POINT (3.34124 7.11719),POINT (3.96100 7.51594)
4804,267281680-1,None,None,330000,2,49589.848100,False,False,line,50,NG,"LINESTRING (6.65351 7.47066, 6.65168 7.47109, ...","MULTIPOINT (6.65351 7.47066, 6.62864 7.82303)",6.628637,7.470656,6.653505,7.823029,POINT (6.65351 7.47066),POINT (6.62864 7.82303)
4805,564455679-1,None,None,132000,1,40442.872492,False,False,line,50,NG,"LINESTRING (3.20767 6.80853, 3.20763 6.81172, ...","MULTIPOINT (3.20767 6.80853, 3.33494 7.11322)",3.207670,6.808527,3.334941,7.113216,POINT (3.20767 6.80853),POINT (3.33494 7.11322)
4806,746582402-1,None,None,330000,1,70.053994,False,False,line,50,NG,"LINESTRING (7.15735 4.76307, 7.15687 4.76266)","MULTIPOINT (7.15735 4.76307, 7.15687 4.76266)",7.156874,4.762658,7.157349,4.763070,POINT (7.15735 4.76307),POINT (7.15687 4.76266)
4807,564446216-1,None,None,330000,1,61218.995298,False,False,line,50,NG,"LINESTRING (3.38479 7.13618, 3.38799 7.13755, ...","MULTIPOINT (3.38479 7.13618, 3.85561 7.37078)",3.384792,7.136179,3.855608,7.370784,POINT (3.38479 7.13618),POINT (3.85561 7.37078)

In [10]:
#lines_ng[lines_ng["length"] > 10000].sort_values("length").describe()
#substations_ng

# Case 1: Create bus dataframe from line.csv (not using existing substation dataframe)

### Create bus_id for each line ending

In [11]:
bus_s = gpd.GeoDataFrame(columns = substations_ng.columns)
bus_e = gpd.GeoDataFrame(columns = substations_ng.columns)

In [12]:
# Read information from line.csv
bus_s[["voltage", "lon", "lat", "geometry", "country"]] = lines_ng[["voltage", "bus0_lon", "bus0_lat", "bus_0_coors", "country"]] # line start points
bus_e[["voltage", "lon", "lat", "geometry", "country"]] = lines_ng[["voltage", "bus1_lon", "bus1_lat", "bus_1_coors", "country"]] # line end points
bus_all = bus_s.append(bus_e).reset_index(drop=True)

In [14]:
# Assign index to bus_id 
bus_all.loc[:,"bus_id"] = bus_all.index
bus_all

,bus_id,station_id,voltage,dc,symbol,under_construction,tag_substation,tag_area,lon,lat,country,geometry
0,0,NaN,330000,NaN,NaN,NaN,NaN,NaN,7.156560,4.762794,NG,POINT (7.15735 4.76307)
1,1,NaN,330000,NaN,NaN,NaN,NaN,NaN,3.312414,6.882519,NG,POINT (3.31241 6.88285)
2,2,NaN,132000,NaN,NaN,NaN,NaN,NaN,3.421633,6.462317,NG,POINT (3.42163 6.46232)
3,3,NaN,330000,NaN,NaN,NaN,NaN,NaN,6.798394,6.116587,NG,POINT (6.79839 6.11659)
4,4,NaN,330000,NaN,NaN,NaN,NaN,NaN,4.611707,9.861196,NG,POINT (4.61171 9.86379)
...,...,...,...,...,...,...,...,...,...,...,...,...
895,895,NaN,330000,NaN,NaN,NaN,NaN,NaN,3.960995,7.515944,NG,POINT (3.96100 7.51594)
896,896,NaN,330000,NaN,NaN,NaN,NaN,NaN,6.653505,7.823029,NG,POINT (6.62864 7.82303)
897,897,NaN,132000,NaN,NaN,NaN,NaN,NaN,3.334941,7.113216,NG,POINT (3.33494 7.11322)
898,898,NaN,330000,NaN,NaN,NaN,NaN,NaN,7.157349,4.763070,NG,POINT (7.15687 4.76266)
899,899,NaN,330000,NaN,NaN,NaN,NaN,NaN,3.855608,7.370784,NG,POINT (3.85561 7.37078)

### V1. Create station_id at same bus location

- We saw that buses are not connected exactly at one point, they are usually connected to a substation "area" (analysed on maps)
- Create station_id at exactly the same location might therefore be not always correct
- Though as you can see below, it might be still sometime the case. Examples are **station 4** (2 lines with the same voltage connect at the same point) and **station 23** (4 lines with two different voltages connect at the same point)

#TODO: Filter out the generator lines - defined as going from generator to the next station which is connected to a load. Excluding generator lines make proably sense because they are not transmission expansion relevant. For now we simplify and include generator lines.

In [15]:
# If same location/geometry make station
bus_all_v1 = bus_all
bus_all_v1["station_id"] = bus_all_v1.groupby(["lon","lat"]).ngroup()

## INFO, case nigeria
# bus_id 0:899
# station_id 0:791
# Means, only a few bus_id's at same location
bus_all_v1

,bus_id,station_id,voltage,dc,symbol,under_construction,tag_substation,tag_area,lon,lat,country,geometry
0,0,474,330000,NaN,NaN,NaN,NaN,NaN,7.156560,4.762794,NG,POINT (7.15735 4.76307)
1,1,22,330000,NaN,NaN,NaN,NaN,NaN,3.312414,6.882519,NG,POINT (3.31241 6.88285)
2,2,55,132000,NaN,NaN,NaN,NaN,NaN,3.421633,6.462317,NG,POINT (3.42163 6.46232)
3,3,390,330000,NaN,NaN,NaN,NaN,NaN,6.798394,6.116587,NG,POINT (6.79839 6.11659)
4,4,149,330000,NaN,NaN,NaN,NaN,NaN,4.611707,9.861196,NG,POINT (4.61171 9.86379)
...,...,...,...,...,...,...,...,...,...,...,...,...
895,895,106,330000,NaN,NaN,NaN,NaN,NaN,3.960995,7.515944,NG,POINT (3.96100 7.51594)
896,896,356,330000,NaN,NaN,NaN,NaN,NaN,6.653505,7.823029,NG,POINT (6.62864 7.82303)
897,897,37,132000,NaN,NaN,NaN,NaN,NaN,3.334941,7.113216,NG,POINT (3.33494 7.11322)
898,898,476,330000,NaN,NaN,NaN,NaN,NaN,7.157349,4.763070,NG,POINT (7.15687 4.76266)
899,899,100,330000,NaN,NaN,NaN,NaN,NaN,3.855608,7.370784,NG,POINT (3.85561 7.37078)

In [28]:
# Add station_id to line dataframe
n_row = int(bus_all.shape[0]/2)  # row length
lines_ng_v1 = lines_ng.reset_index(drop=True)
lines_ng_v1['bus0'] = bus_all.loc[0:(n_row-1), ["bus_id"]]
lines_ng_v1['bus1'] = bus_all.loc[(n_row):, ["bus_id"]].reset_index(drop=True)

In [29]:
# display(lines_ng_v1)
# display(bus_all_v1)

In [132]:
# Removing the NaN 
bus_all_v1["dc"] = "False"
bus_all_v1["symbol"] = "False"
bus_all_v1["under_construction"] = "False"
bus_all_v1["tag_substation"] = "False"
bus_all_v1["tag_area"] = "False"
bus_all_v1["substation_lv"] = True

In [158]:
import shapely
shapely.__version__
from shapely.validation import make_valid

ImportError: cannot import name 'make_valid' from 'shapely.validation' (/home/max/anaconda3/envs/toast/lib/python3.9/site-packages/shapely/validation.py)

## Decide on LV_Substation

In [145]:
bus_with_stations_duplicates = bus_all_v1[bus_all_v1.station_id.duplicated(keep=False)].sort_values(by=["station_id","voltage"])
# bus_with_stations_duplicates

In [138]:
lv_bus_at_station_duplicates = bus_all_v1[bus_all_v1.station_id.duplicated(keep=False)].sort_values(by=["station_id","voltage"]).drop_duplicates(subset=["station_id"])
# lv_bus_at_station_duplicates

In [147]:
# Set all buses with station duplicates "False"
bus_all_v1.loc[bus_with_stations_duplicates.index, "substation_lv"] = False
# Set lv_buses with station duplicates "True"
bus_all_v1.loc[lv_bus_at_station_duplicates.index, "substation_lv"] = True

In [165]:
# Check if bus in country exist
bus_all_v1[(bus_all_v1["country"] == "TN")]

Empty GeoDataFrame
Columns: [bus_id, station_id, voltage, dc, symbol, under_construction, tag_substation, tag_area, lon, lat, country, geometry, substation_lv]
Index: []

In [154]:
bus_all_v1[bus_all_v1["substation_lv"] == True]

,bus_id,station_id,voltage,dc,symbol,under_construction,tag_substation,tag_area,lon,lat,country,geometry,substation_lv
0,0,474,330000,False,False,False,False,False,7.156560,4.762794,NG,POINT (7.15735 4.76307),True
1,1,22,330000,False,False,False,False,False,3.312414,6.882519,NG,POINT (3.31241 6.88285),True
2,2,55,132000,False,False,False,False,False,3.421633,6.462317,NG,POINT (3.42163 6.46232),True
3,3,390,330000,False,False,False,False,False,6.798394,6.116587,NG,POINT (6.79839 6.11659),True
4,4,149,330000,False,False,False,False,False,4.611707,9.861196,NG,POINT (4.61171 9.86379),True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,893,403,330000,False,False,False,False,False,6.803187,6.114886,NG,POINT (6.80319 6.11489),True
894,894,482,132000,False,False,False,False,False,7.226048,4.833506,NG,POINT (7.22398 4.83338),True
896,896,356,330000,False,False,False,False,False,6.653505,7.823029,NG,POINT (6.62864 7.82303),True
897,897,37,132000,False,False,False,False,False,3.334941,7.113216,NG,POINT (3.33494 7.11322),True
899,899,100,330000,False,False,False,False,False,3.855608,7.370784,NG,POINT (3.85561 7.37078),True

In [148]:
# Check
bus_all_v1[bus_all_v1["station_id"] == 20]

,bus_id,station_id,voltage,dc,symbol,under_construction,tag_substation,tag_area,lon,lat,country,geometry,substation_lv
206,206,20,330000,False,False,False,False,False,3.260418,7.059859,NG,POINT (3.26042 7.05986),False
207,207,20,132000,False,False,False,False,False,3.260418,7.059859,NG,POINT (3.26042 7.05986),True
793,793,20,330000,False,False,False,False,False,3.260418,7.059859,NG,POINT (3.26042 7.05986),False

- If. station id the same
- Then. find bus with min value
- If. min has two/NA
- Then. pick first of the duplicates
- Action set lv_substation = True

In [ ]:

## Generate Files for base_network (CSV) 

### lines
outputfile_partial = os.path.join(os.getcwd(), "data", "base_network", "africa_all" + "_lines" + "_build_network") # Output file directory

if not os.path.exists(outputfile_partial):
    os.makedirs(os.path.dirname(outputfile_partial), exist_ok=True) #  create clean directoryif not already exist

lines_ng_v1.to_csv(outputfile_partial + ".csv")  # Generate CSV


#### buses
outputfile_partial = os.path.join(os.getcwd(), "data", "base_network", "africa_all" + "_buses" + "_build_network") # Output file directory

if not os.path.exists(outputfile_partial):
    os.makedirs(os.path.dirname(outputfile_partial), exist_ok=True) #  create clean directoryif not already exist
    
bus_all_v1.to_csv(outputfile_partial + ".csv")  # Generate CSV

# Inference (Quick and Dirty) - No Guarantee

In [ ]:
cdf = bus_all_v1.to_crs("EPSG:3857")

In [ ]:
from itertools import combinations
series = cdf.geometry
max_distance = 100

points_within = []
for i1,i2 in combinations(range(0,series.shape[0]-1),2):  #Iterate over all pairs/combinations of indices
    if 0<series[i1].distance(series[i2])<=max_distance:
        points_within.append([i1,i2])

In [ ]:
# points_within
for points in points_within:
    fi = points[0]
    si = points[1]
    bus_all_v1.at[si, 'station_id'] = bus_all_v1.iloc[fi]['station_id']

In [ ]:
bus_all_v1

In [ ]:
bus_all_v1.groupby(['station_id']).count()

# Inference (Probably a better method) - For the Archives

This method will be implemented once cleaning is completed. See method in Powermap for how it is supposed to be done in the correct way

In [ ]:
x = cdf.buffer(100)
neighbours = cdf.intersection(x)
display(neighbours)
# print all the nearby points
# display(x)